/* FIRST MOBILE, 430 x 932 px */
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  top: 0;
  padding-top: 30px;
}

.header {
  background-color: #3F95C5;
  border-bottom: 1px inset;
  font-size: 15px;
  position: fixed;
  width: 100%;
  height: 87px;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 15px;
  height: 53px;
}

.nav-top {
  padding-right: 15px;
  padding-top: 15px;
  position: initial;
  text-align: center;
}

.nav-top form input[type=submit] {
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 16px 20px;
  font-weight: 450;
  font-size: 14px;
}

.nav-top form input[type=submit]:hover:not(.active) {
  background-color: #FFCB00;
  opacity: 0.71;
  color: #009440;
  cursor: pointer;
}

.nav-menu {
  background-color: #A6CADA;
  z-index: 2;
  position: fixed;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  top: 0;
  left: 0;
  right: 0;
  height: 95vh;
  overflow-y: scroll;
}

.nav-menu ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-li form button[type=submit] {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  width: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav-menu-li form button[type=submit] p {
  padding-left: 18px;
  font-size: 14px;
}

.nav-menu-li form button[type=submit] span {
  padding-left: 10px;
  font-size: 32px;
}

.nav-menu-li a {
  margin-bottom: 35px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3F95C5;
  border: 1px solid black;
  width: 335px;
}

.nav-menu-li a p {
  font-size: 14px;
  color: black;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-menu-li form button[type=submit]:hover:not(.active),
.nav-menu-li a:hover:not(.active),
.nav-menu-li a:hover:not(.active) p {
  background-color: #FFCB00;
  opacity: 0.71;
  color: #009440;
  cursor: pointer;
}

.main-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 16px;
}

.main-card-img {
  height: 90px;
}

.main-card-div1 {
  margin-left: 5px;
}

.main-card-div2 {
 margin-left: 5px;
}

.main-card-div2 h3 {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.main-card-div2 h4 {
  font-size: 14px;
  margin-top: 2px;
  padding-top: 2px;
}

.main-card-div2 p {
  font-size: 12px;
}