/* FIRST MOBILE, 430 x 932 px */
body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #3F95C5;
  border-bottom: 1px inset;
  font-size: 15px;
  position: fixed;
  width: 100%;
  height: 87px;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 15px;
  height: 53px;
}

.nav-top {
  padding-right: 15px;
  padding-top: 15px;
  position: initial;
  text-align: center;
}

.nav-top form input[type=submit] {
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 16px 20px;
  font-weight: 450;
}

.nav-top form input[type=submit]:hover:not(.active) {
  background-color: #FFCB00;
  opacity: 0.71;
  color: #009440;
}

.nav-menu {
  background-color: #A6CADA;
  z-index: 2;
  position: fixed;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  top: 0;
  left: 0;
  right: 0;
  height: 95vh;
  overflow-y: scroll;
}

.nav-menu ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-li form button[type=submit] {
  margin-top: 60px;
  margin-bottom: 60px;

  background-color: transparent;
  border: none;
  border: 2px solid black;
  width: 190px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav-menu-li form button[type=submit] p {
  padding-left: 10px;
}

.nav-menu-li form button[type=submit] img {
  height: 37px;
}

.nav-menu-li a {
  margin-bottom: 35px;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #3F95C5;
  border: 2px solid black;

  width: 335px;
}

.nav-menu-li a p {
  font-size: 14px;
  color: black;
  padding-top: 0;
  padding-bottom: 0;
}